.content {
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    // margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50% auto;
    display: block;
    @include atTabletsPortrait {
        margin: 0 auto;
    }

    &--gallery {
        margin:0 auto;
    }
}
