.features {

    &__list {

        display: inline-block;

    }
    &__item {
        display: inline-block;

    }
    &__title {
        color:#ff9800;
        font-family: 'Ubuntu',sans-serif;
        font-size: 1.5rem;
    }

    &__desc {
        font-family: 'Ubuntu',sans-serif;
        color:white;
        
    }
    
}