.features {
    display: inline-block;

    &__list {    
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: left;
    }
    &__item {
        vertical-align: top;
        margin: 0 auto;

    }
    &__title {
        color:#ff9800;
        font-family: 'Ubuntu',sans-serif;
        font-size: 1.5rem;
    }

    &__desc {
        font-family: 'Ubuntu',sans-serif;
        color:white;
        width: 100px;
        display: inline-block;
        
    }
    img {
        width: 150px;
        height: 150px;
    }
    
}