.gallery {
    display: inline-block;
    margin-bottom: 100px;



    &__img {

        width: 400px;
        height:400px;
        padding:0 15px;

        &--pdnone {
            padding: 0 0;
        }
        &--big {
            height: 200px;
        }
    }

    img {
        height: 20%;
        width: 20%;
        
    }
    
}