.img {
    display: inline-block;
    width: 50%;

    &__bg {

    object-fit: cover;
    width: 100%;
    min-height: 170vh;

     &-parallax-back {
        transform: translateZ(0px);
      
    }
    &-parallax-front {
        transform: translateZ(-1px) scale(2.1);
    }

    @include atTabletsLandscape {
        min-height: 130vh;
    }

    }
    img {
        display: inline-block;
    }
}