.logo {
    text-align: center;
    padding-top: 20%;
    img {
        max-width: 50%;
        max-height: 100%;
        margin: 0 auto;
        display: block;
        @include atTabletsPortrait {
            width: 30%;
        }
        @include atDesktop {
            width: 40%;
        }
    }
}