.shadow {
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(black,0.5);
    position: relative;
        // opacity: 0.5;
    // &::after {       
    //     position: absolute;
    //     right: 0;
    //     left: 0;
    //     top: 0;
    //     bottom: 0;
    //     z-index: 99999;
    //     background: rgba(black,0.5);
    //     opacity: 0.5;
    // }
  
}