.slide {

    &__bg {


        &--img {
            transform: translateZ(-1px) scale(2.1);
            position: absolute;
            top:0;
            left:0;
            bottom: 0;
            right: 0;
        }
    }
}