.text {
    text-align: center;
    &__title {
        text-align: center;
       font-family: 'Ubuntu',sans-serif;
       display: inline-block;
       font-size: 4rem;
       color:white;
       padding-bottom: 15px;
  
            &--why {
        font-size: 3rem;
           padding-top:100px;
        
    }
          &--center {

           color:$accent;
           font-size: 6rem;
       }
       &--orangebg {
           background: $accent;
           color:#000000;
           font-size: 2.5rem;
       }
       &--big {
           font-size: 7rem;
       }
       &--left {
           text-align: left;
           font-size: 3.5rem;
           font-weight: 200;
       }
       &--prim {
           font-size: 2rem;
           text-align: left;
       }

    }
    &__text {

        // background-color:$accent;   
        padding:15px 10%;
        margin-top:20px;
        font-family: 'Ubuntu',sans-serif;
        color:#000000;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
        display: inline-block;
        color:white;ß

             &--why {
        font-size: 3rem;
        padding-top:100px;

        
       }
       span {
           background: $accent;
           color:#000000;
           font-weight: 100;
       }
       &--why--preference {
           color:$accent;
           font-size: 3.5rem;
           padding-top:100px;
           background: none;
           font-weight: bold;
       }
 
   
    
    }

}